<div class="row mx-0 justify-content-center my-4">
    <div class="col-md-10">
        <div class="table-responsive">
            <table  class="table">
                <thead>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </thead>
                <tbody>
                    <tr *ngFor="let product of cartProductList">
                        <td>{{product.name}}</td>
                        <td>{{product.num}}
                            <input type="number" class="form-control" [(ngModel)]="product.num" (ngModelChange)="updateCartItem(product)">
                        </td>
                        <td>{{product.price}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>