/* You can add global styles to this file, and also import other style files */
@import './variable.scss';

p{
    margin-bottom:0;
}
.text-primary{
    color: $primary-color!important;
}
.title{
    font-size: 2.1rem;
}
.text-lg{
    font-size: 1.6rem;
}
.banner-title{
    font-size: 5rem;
    line-height: 5rem;
}
.text-normal{
    font-size: 1rem;
}
.CTA-secondary{
    background-color: $secondary-color!important;
    color: $primary-color!important;
}
.CTA-primary{
    background-color: $primary-color!important;
    color: $secondary-color!important;
    padding: 14px 40px;
    border-radius: 50px;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pointer{
    cursor: pointer;
}
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}

@media screen and (max-width: 767px){
    .banner-title{
        font-size: 4rem;
        line-height: 4rem;
    }
}