
  <div class="banner-container p-relative">
    <img src="/assets/images/banner-bg-2.jpg" alt="">
    <div class="row mx-0 p-absolute banner-text">
      <div class="col-lg-1 d-none d-lg-block"></div>
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h6 class="banner-title">Choose a <br> Better You</h6>
        <p class="text-normal my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Voluptatum sequi cumque officia dicta nam repudiandae consectetur.</p>
        <div class="my-3">
          <button class="CTA-primary" routerLink="/products">SHOP NOW <i class="ri-arrow-right-line mx-2"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="tag-line py-3 px-2 d-flex justify-content-center">
    <p class="text-normal mb-0">WE DONATE A PORTION OF OUR PROFITS TOWARDS <i>ST JOHN AMBULANCE & THE CITY HEART FOUNDATION</i></p>
  </div>

  <section class="best-seller  container mb-5">
    <h4 class="text-center text-primary title my-4">Best Seller</h4>
    <div class="row mx-0">
      <div class="col-md-4">
        <div class="product-card">
          <img src="/assets/images/medicine-4.png" alt="" class="w-100 product-image">
          <p class="text-primary text-lg mt-2">Multivitamin</p>
          <div class="d-flex justify-content-between align-items-center my-2">
            <button class="btn CTA-secondary text-normal">Add to cart</button>
            <p class="text-primary text-lg">$45</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-card">
          <img src="/assets/images/medicine-2.png" alt="" class="w-100 product-image">
          <p class="text-primary text-lg mt-2">Multivitamin</p>
          <div class="d-flex justify-content-between align-items-center my-2">
            <button class="btn CTA-secondary text-normal">Add to cart</button>
            <p class="text-primary text-lg">$45</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-card">
          <img src="/assets/images/medicine-3.png" alt="" class="w-100 product-image">
          <p class="text-primary text-lg mt-2">Multivitamin</p>
          <div class="d-flex justify-content-between align-items-center my-2">
            <button class="btn CTA-secondary text-normal">Add to cart</button>
            <p class="text-primary text-lg">$45</p>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center text-normal my-3 pointer" routerLink="/products"><u>View all</u></p>
  </section>
